header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  background-color: rgb(255, 240, 240);
}
#checkBoxContainer {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
#header > a {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  height: 40px;
  color: darkblue;
  font-family: "Playfair Display", serif;
  text-align: center;
  border-radius: 5px;
  margin: 10px 70px;
  z-index: 1000;
}
#topHeader {
  padding-top: 10px;
}
h1 {
  font-size: 1.4rem;
  text-align: center;
}
#fixedHeader {
  background-color: rgb(255, 240, 240);
  z-index: 5000;
}
#bottomHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 10px 0;
}
.bottomHeaderSubTitle {
  font-size: 0.7rem;
  text-align: center;
  margin: 0 20px;
}
#headerLogo {
  max-width: 50px;
  z-index: 1000;
}

@media (min-width: 450px) {
  h1 {
    margin: 0 20px;
  }
}

@media (min-width: 700px) {
  h1 {
    margin: 0 50px;
  }
  .bottomHeaderSubTitle {
    font-size: 1rem;
  }
}
